# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.dll
bin/BioVision.exe
*.exp
*.lib
*.obj
*.suo
*.log
*.tlog
obj/Release/vc140.pdb
*.cache
obj/Release/icon.res
*.db
*.opendb
icon.aps
*.TMP
bin/data/output.txt
bin/data/output.txt
bin/data/output.txt
*.pdb
*.res
*.exe
bin/BioVision_debug.ilk
*.pdb
*.pdb
obj/Debug/vc140.pdb
*.pdb
obj/Debug/vc140.pdb
